<p id="notice"><%= notice %></p>

<p>
  <b>Command:</b>
  <%= @command.command %>
</p>

<p>
  <b>Description:</b>
  <%= @command.description %>
</p>


<%= link_to 'Edit', edit_command_path(@command) %> |
<%= link_to 'Back', commands_path %>
